
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: rgb(224, 211, 195);
    padding-top: 50px;
}
.logo{
   font-size: 45px; 
}
.color-green{
    color: rgb(31, 105, 42);
}
nav{
    width: 71%;
    max-width: 1200px;
border: 1px solid red;
margin: auto;
display: flex;
justify-content:space-between ;
align-items: end;
}
.menu{
    display: flex;
    list-style-type: none;
    gap :51px;
}
nav.menu l a{
   
    font-size: 20px;
    color: blueviolet;
    text-decoration: none;
    align-items: center;
}
.btn{
    background-color: rgb(90, 31, 105);
    border: none;
    padding: 18px 34px;
    boder-radius: 8px;
    font-size: 20px;
    color: white;
}